body
{
  background-color: #B2DFEE;
  font-family: arial;
  margin: 0 auto; /*ko dung cai nay thi body mac dinh 8px;*/
}

.title_bar
{
  background-color: #F5F5F5;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5px;
  border: 1px solid #CFCFCF;
}
.main_content
{
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #CFCFCF;
  /*  border-top: 1px solid #CFCFCF;*/
  background-color: white;
  margin: 0 auto;
  margin-left: 15%;
  margin-right: 15%;
}

.form_row input
{
  width: 50px;
  /*margin-left: 90px; di chuyen input cach label 1 khoang*/
  display: block;
  float: left;
}

.form_row label
{
  font-size: 15px;
  text-align: right;
  margin-right: 30px;
  float: left;
  width: 350px;
}

select.form_select
{
  width: 250px;
  float: left;
  text-align: left;
}


.explain
{
  font-style: italic;
  font-size: 11px;
  padding-left: 380px;

}

.form_button
{
  border: 1px solid #CFCFCF;
  background-color: #F5F5F5;
  margin-left: 15%;
  text-indent: 50%;
  margin-right: 15%;
  padding: 7px;
}

.btnUpdate {
  -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
  background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
  background-color:#b8e356;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:30px;
  line-height:30px;
  width:71px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #86ae47;
}
.btnUpdate:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
  background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
  background-color:#a5cc52;
  }.btnUpdate:active {
    position:relative;
    top:1px;
  }

  .btnCancel {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color:#f9f9f9;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:normal;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:71px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
  }
  .btnCancel:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
    background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color:#e9e9e9;
    }.btnCancel:active {
      position:relative;
      top:1px;
    }
