body
{
  background-color: #B2DFEE;
  margin: 0 auto; /*ko dung cai nay thi body mac dinh 8px;*/
}

.title_bar
{
  background-color: #F5F5F5;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5px;
  border: 1px solid #CFCFCF;
}
.main_content
{
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #CFCFCF;
/*  border-top: 1px solid #CFCFCF;*/
  background-color: white;
  margin: 0 auto;
  margin-left: 15%;
  margin-right: 15%;
}

.form_row input
{
  width: 50px;
  /*margin-left: 90px; di chuyen input cach label 1 khoang*/
  display: block;
  float: left;
}

.form_row label
{
  text-align: right;
  margin-right: 30px;
  float: left;
  width: 350px;
}

select.form_select
{
  width: 250px;
  float: left;
  text-align: left;
}


.explain
{
  font-size: 14px;
  padding-left: 380px;

}

.form_button
{
  border: 1px solid #CFCFCF;
  background-color: #F5F5F5;
  margin-left: 15%;
  text-indent: 50%;
  margin-right: 15%;
  padding: 7px;
}
